<!-- <p-menubar [model]="items">
    <ng-template pTemplate="start">
        <img src="../../../assets/imgs/logoSHeader.svg" height="40" class="p-mr-2" style="margin-left:40px">
    </ng-template>
</p-menubar> -->
<p-menubar [model]="items">
  <ng-template pTemplate="start">
      <img src="../../../assets/imgs/logoSHeader.svg" class="p-mr-2" style="margin-left:40px">
  </ng-template>
  <ng-template pTemplate="end" >
      <div style="margin-right:50px;">
          <a>Log Out</a>
      </div>
  </ng-template>
</p-menubar>
